@import './content.scss';

// defining variables
$font-stack: Arial, Roboto, sans-serif;
$main-margin: 15px 15px;
$main-padding: 20px 20px;

body {
    font-family: $font-stack; 
    margin: $main-margin;
    overflow-x: scroll;
    overflow-y: scroll;
    /* provide a smooth scroll with momentum */
    -webkit-overflow-scrolling: touch;
    list-style-type: none;
    background: url('../views/img/background4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    

    .grid-container {
        display: grid;
        grid-template-rows: 200px 60% auto;
        grid-template-columns: 50% 50%;
        margin: $main-margin;
        height: 100vh;

        .headline {
            //row start/column start/row end/column end
            grid-area: 1/1/2/3;
            text-align: center;
            font-size: 40px;
        }

        .flex-container {
            grid-area: 2/2/3/3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: url('../views/img/background6.jpg') no-repeat;
            background-size: cover;
        }

        .photo {
            grid-area: 2/1/3/2;
            max-height: 100%;
            max-width: 100%;
        }

        footer {
            grid-area: 3/1/4/3;
        }  
    }
}


